    <div class="temperature-converter" [formGroup]="temperatureForm">
  <label class="temperature-converter-column">
    <input
      class="temperature-converter-column-top-row"
      type="text"
      formControlName="celsius" />
    <div class="temperature-converter-column-bottom-row">
      Celsius
    </div>
  </label>
  <div class="temperature-converter-column">
    <div class="temperature-converter-column-top-row">
      =
    </div>
  </div>
  <label class="temperature-converter-column">
    <input
      class="temperature-converter-column-top-row"
      type="text"
      formControlName="fahrenheit" />
    <div class="temperature-converter-column-bottom-row">
      Fahrenheit
    </div>
  </label>
</div>